
<div class="container h-100 d-flex justify-content-center align-items-center"><div class="row align-items-center">
  <div class="col-12 timer mb-5 ">
    <span id="days"> {{daysToDday}} </span>Day(s)
    <span id="hours"> {{hoursToDday}} </span>Hrs
    <span id="minutes"> {{minutesToDday}} </span>Min
    <span id="seconds"> {{secondsToDday}} </span>S
  </div>
  <div class="col-12 date"><h2>26.01.2023 | 16H</h2></div>
  <div class="col-12 local"><h3>@IHECS LOCAL E-304</h3></div>
  <div class="row born align-items-end mx-auto">
    <div class="col-12 slogan">BORN TO PLAY</div>
  </div> 
</div>
</div>