
<div class="container h-100 d-flex justify-content-center align-items-center"><div class="row align-items-center">
  <div class="col-12 timer mb-5 ">
    <span id="days">{{daysToDday}} : {{hoursToDday}} : {{minutesToDday}} : {{secondsToDday}} </span>
  </div>
  <div class="col-12 box"><h2>What's that box?</h2></div>
  <div class="col-12 date">26.01.2023 | 16H</div>
  <div class="col-12 local">@IHECS LOCAL E-304</div>
  <div class="col-12 local2">Rue de l'Étuve 58-60 Bruxelles</div>
  <div class="row born align-items-end mx-auto">
    <div class="col-12 slogan"><span class="bornt">#Born</span><span class="toplay">ToPlay</span></div>
  </div> 
</div>
</div>